<h2>Add a New Student</h2>
<h4>New Student Infomation</h4>
<form action="/student/form" method="post">
  Student ID:<br>
  <input type="text" name="sid" placeholder="Student ID (required)" required>
  <br>
  First name:<br>
  <input type="text" name="firstname" placeholder="First Name (required)" required>
  <br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Last Name (required)" required>
  <br>
  Birthday:<br>
  <input type="date" name="birthday" required>
  <br>
  Address:<br>
  <textarea name="address" rows="3" cols="30" placeholder="Address"></textarea>
  <br><br>
  <input class="button_normal" type="submit" value="Submit">
</form>
