<h2 class="h head_center">Comment List</h2>
<table>
  <tr>
    <th>Comment</th>
    <th>Created By</th>
    <th>Time</th>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><a href="/comment/<%=comment.id%>"><%= comment.content %></a></td>
      <td><%= comment.name %></td>
      <td><%= comment.created_at %></td>
    </tr>
  <% end %>
</table>
<br><hr>
<h2>Leave a Comment</h2>
<form action="/comment/form" method="post">
  <input type="text" name="name" placeholder="Name (required)" required>
  <br><br>
  <textarea name="content" rows="6" cols="30" placeholder="Content (required)" required></textarea>
  <br><br>
  <input class="button_normal" type="submit" value="Submit">
</form>
