<h2 class="h head_center"><span>Comment By </span><%=@name%></h2>
<h4 class="head_center">Content</h4>
<p class="head_center"><%=@content%></p>
<h4 class="head_center">Created At</h4>
<p class="head_center"><%=@created_at%></p>
<h4 class="head_center">Commentator</h4>
<p class="head_center"><%=@name%></p>
