<% if session[:name] %>
  <p align="center"><span><%= session[:name] %></span>, welcome to Weipeng's Student Info System</p>
<% else %>
<p align="center">Welcome to Weipeng's Student Info System</p>
<% end %>
<img src="/images/cover.jpg" alt="cover" class="image_center">
